---
import RadixProvider from "@/components/base/radix-provider";
import RootLayout from "@/layouts/root-layout.astro";
import { Button, Card, Text } from "@radix-ui/themes";
---

<RootLayout>
  <RadixProvider>
    <main class="h-screen flex flex-col items-center justify-center">
      <Card>
        <form class="grid gap-4" method="post" enctype="multipart/form-data">
          <Text as="label" weight="bold" htmlFor="image">Upload an image</Text>
          <input type="file" id="image" name="image" accept="image/*" />
          <Button type="submit">Upload</Button>
        </form>
      </Card>
    </main>
  </RadixProvider>
</RootLayout>
