:root,
.light,
.light-theme {
  --green-1: #f9fcfa;
  --green-2: #f3f9f4;
  --green-3: #e5f5e8;
  --green-4: #d5efdb;
  --green-5: #c3e7cb;
  --green-6: #acdcb8;
  --green-7: #8dcc9e;
  --green-8: #5eb77a;
  --green-9: #33a35e;
  --green-10: #2a9554;
  --green-11: #007f3f;
  --green-12: #1e3b27;

  --green-a1: #a5005203;
  --green-a2: #34551a09;
  --green-a3: #078c1516;
  --green-a4: #02941f26;
  --green-a5: #04942139;
  --green-a6: #01902450;
  --green-a7: #028b2670;
  --green-a8: #028d2da0;
  --green-a9: #008c36cb;
  --green-a10: #018032d5;
  --green-a11: #007f3f;
  --green-a12: #01210ae1;

  --green-contrast: #fff;
  --green-surface: #f1f8f3cc;
  --green-indicator: #33a35e;
  --green-track: #33a35e;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --green-1: oklch(98.9% 0.0049 152.3);
      --green-2: oklch(97.6% 0.0095 152.3);
      --green-3: oklch(95.4% 0.0239 152.3);
      --green-4: oklch(92.7% 0.038 152.3);
      --green-5: oklch(89.4% 0.0528 152.3);
      --green-6: oklch(85.1% 0.0697 152.3);
      --green-7: oklch(79.1% 0.0915 152.3);
      --green-8: oklch(70.8% 0.1237 152.3);
      --green-9: oklch(63.6% 0.1436 152.3);
      --green-10: oklch(59.5% 0.1373 152.3);
      --green-11: oklch(52.1% 0.1366 152.3);
      --green-12: oklch(32.4% 0.0514 152.3);

      --green-a1: color(display-p3 0.6588 0.0235 0.3373 / 0.012);
      --green-a2: color(display-p3 0.1294 0.2667 0.0118 / 0.032);
      --green-a3: color(display-p3 0.0039 0.4353 0.0078 / 0.076);
      --green-a4: color(display-p3 0.0078 0.498 0.0392 / 0.132);
      --green-a5: color(display-p3 0.0039 0.502 0.0471 / 0.196);
      --green-a6: color(display-p3 0.0039 0.4902 0.0627 / 0.275);
      --green-a7: color(display-p3 0.0039 0.4588 0.0706 / 0.383);
      --green-a8: color(display-p3 0 0.4627 0.0784 / 0.538);
      --green-a9: color(display-p3 0 0.4431 0.0902 / 0.658);
      --green-a10: color(display-p3 0 0.3961 0.0784 / 0.698);
      --green-a11: color(display-p3 0 0.3451 0.0745 / 0.781);
      --green-a12: color(display-p3 0 0.098 0.0196 / 0.853);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.9529 0.9725 0.9529 / 0.8);
      --green-indicator: oklch(63.6% 0.1436 152.3);
      --green-track: oklch(63.6% 0.1436 152.3);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f8f9f8;
  --gray-3: #eff0ef;
  --gray-4: #e7e8e7;
  --gray-5: #dfe1e0;
  --gray-6: #d7d9d8;
  --gray-7: #cccfcd;
  --gray-8: #b9bcba;
  --gray-9: #8a8e8b;
  --gray-10: #808481;
  --gray-11: #616562;
  --gray-12: #1e211f;

  --gray-a1: #00000003;
  --gray-a2: #00250007;
  --gray-a3: #00100010;
  --gray-a4: #000b0018;
  --gray-a5: #00100820;
  --gray-a6: #000d0728;
  --gray-a7: #000f0533;
  --gray-a8: #000b0446;
  --gray-a9: #00090375;
  --gray-a10: #0009037f;
  --gray-a11: #0007029e;
  --gray-a12: #000301e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8a8e8b;
  --gray-track: #8a8e8b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.1% 0.0008 153.7);
      --gray-2: oklch(98.1% 0.0018 153.7);
      --gray-3: oklch(95.4% 0.002 153.7);
      --gray-4: oklch(93% 0.0023 153.7);
      --gray-5: oklch(90.8% 0.0025 153.7);
      --gray-6: oklch(88.4% 0.0031 153.7);
      --gray-7: oklch(85.1% 0.0031 153.7);
      --gray-8: oklch(79.1% 0.004 153.7);
      --gray-9: oklch(64.3% 0.0064 153.7);
      --gray-10: oklch(60.8% 0.0065 153.7);
      --gray-11: oklch(50.2% 0.0062 153.7);
      --gray-12: oklch(24.3% 0.0062 153.7);

      --gray-a1: color(display-p3 0 0 0 / 0.0118);
      --gray-a2: color(display-p3 0.0235 0.1608 0.0235 / 0.028);
      --gray-a3: color(display-p3 0.0078 0.0667 0.0078 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.0118 / 0.095);
      --gray-a5: color(display-p3 0.0078 0.0667 0.0353 / 0.126);
      --gray-a6: color(display-p3 0.0039 0.051 0.0275 / 0.157);
      --gray-a7: color(display-p3 0.0078 0.0471 0.0078 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.0039 / 0.271);
      --gray-a9: color(display-p3 0.0039 0.0275 0.0039 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0275 0.0039 / 0.495);
      --gray-a11: color(display-p3 0 0.0196 0 / 0.616);
      --gray-a12: color(display-p3 0 0.0078 0 / 0.879);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.3% 0.0064 153.7);
      --gray-track: oklch(64.3% 0.0064 153.7);
    }
  }
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fff;
}

// -------------- DARK --------------------------------------------

.dark, .dark-theme {
  --green-1: #171f19;
  --green-2: #1a241c;
  --green-3: #193521;
  --green-4: #154225;
  --green-5: #184f2c;
  --green-6: #1e5c34;
  --green-7: #236c3d;
  --green-8: #267f47;
  --green-9: #06df73;
  --green-10: #00d468;
  --green-11: #00db6f;
  --green-12: #abf4be;

  --green-a1: #00c70003;
  --green-a2: #00fd3b08;
  --green-a3: #09f8521c;
  --green-a4: #00fe582a;
  --green-a5: #0efc6839;
  --green-a6: #26fd7448;
  --green-a7: #32fd7c5a;
  --green-a8: #35ff816f;
  --green-a9: #03ff81db;
  --green-a10: #00ff7acf;
  --green-a11: #00fe7fd7;
  --green-a12: #b2ffc6f3;

  --green-contrast: #122718;
  --green-surface: #1a2b1d80;
  --green-indicator: #06df73;
  --green-track: #06df73;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --green-1: oklch(22.8% 0.016 151.8);
      --green-2: oklch(24.6% 0.0201 151.8);
      --green-3: oklch(29.9% 0.0488 151.8);
      --green-4: oklch(34% 0.072 151.8);
      --green-5: oklch(38.1% 0.0829 151.8);
      --green-6: oklch(42.5% 0.092 151.8);
      --green-7: oklch(47.4% 0.1041 151.8);
      --green-8: oklch(53.1% 0.1208 151.8);
      --green-9: oklch(79.2% 0.2082 151.8);
      --green-10: oklch(75.8% 0.2082 151.8);
      --green-11: oklch(78% 0.2082 151.8);
      --green-12: oklch(90.5% 0.104 151.8);

      --green-a1: color(display-p3 0 0.9882 0 / 0.009);
      --green-a2: color(display-p3 0.2353 1 0.3608 / 0.031);
      --green-a3: color(display-p3 0.302 1 0.4157 / 0.102);
      --green-a4: color(display-p3 0.2784 0.9961 0.4275 / 0.16);
      --green-a5: color(display-p3 0.3412 1 0.4706 / 0.217);
      --green-a6: color(display-p3 0.4039 1 0.5176 / 0.275);
      --green-a7: color(display-p3 0.451 1 0.5451 / 0.341);
      --green-a8: color(display-p3 0.4549 1 0.5569 / 0.425);
      --green-a9: color(display-p3 0.4549 1 0.5647 / 0.846);
      --green-a10: color(display-p3 0.4471 1 0.5451 / 0.797);
      --green-a11: color(display-p3 0.4471 1 0.5529 / 0.828);
      --green-a12: color(display-p3 0.7686 1 0.8 / 0.943);

      --green-contrast: #122718;
      --green-surface: color(display-p3 0.1098 0.1569 0.1098 / 0.5);
      --green-indicator: oklch(79.2% 0.2082 151.8);
      --green-track: oklch(79.2% 0.2082 151.8);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #1b1d1c;
  --gray-2: #212322;
  --gray-3: #2a2c2a;
  --gray-4: #2f3230;
  --gray-5: #353836;
  --gray-6: #3d403e;
  --gray-7: #494d4a;
  --gray-8: #5f6461;
  --gray-9: #68716b;
  --gray-10: #747e77;
  --gray-11: #afb5b1;
  --gray-12: #eceeed;

  --gray-a1: #1b1d9b02;
  --gray-a2: #dbddfb08;
  --gray-a3: #fcfefc11;
  --gray-a4: #f0fdfb18;
  --gray-a5: #f1fcfa1f;
  --gray-a6: #f4fdfb28;
  --gray-a7: #f1fcf537;
  --gray-a8: #f2fdf851;
  --gray-a9: #eafff25f;
  --gray-a10: #eafef16e;
  --gray-a11: #f6fff9ac;
  --gray-a12: #fdfffeec;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #68716b;
  --gray-track: #68716b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(22.8% 0.0032 156.8);
      --gray-2: oklch(25.4% 0.0033 156.8);
      --gray-3: oklch(28.9% 0.0036 156.8);
      --gray-4: oklch(31.3% 0.0044 156.8);
      --gray-5: oklch(33.7% 0.0047 156.8);
      --gray-6: oklch(36.9% 0.0055 156.8);
      --gray-7: oklch(41.5% 0.007 156.8);
      --gray-8: oklch(49.9% 0.0083 156.8);
      --gray-9: oklch(54% 0.0154 156.8);
      --gray-10: oklch(58.2% 0.0141 156.8);
      --gray-11: oklch(76.6% 0.0091 156.8);
      --gray-12: oklch(94.7% 0.0022 156.8);

      --gray-a1: color(display-p3 0.1098 0.1137 0.8941 / 0.005);
      --gray-a2: color(display-p3 0.8667 0.8745 0.9922 / 0.031);
      --gray-a3: color(display-p3 0.9843 0.9922 0.9843 / 0.067);
      --gray-a4: color(display-p3 0.9922 1 0.9922 / 0.093);
      --gray-a5: color(display-p3 0.9882 0.9961 0.9882 / 0.12);
      --gray-a6: color(display-p3 0.9922 0.9961 0.9922 / 0.155);
      --gray-a7: color(display-p3 0.9725 1 0.9725 / 0.213);
      --gray-a8: color(display-p3 0.9686 1 0.9804 / 0.315);
      --gray-a9: color(display-p3 0.9412 1 0.9529 / 0.372);
      --gray-a10: color(display-p3 0.9373 0.9961 0.9451 / 0.43);
      --gray-a11: color(display-p3 0.9725 1 0.9804 / 0.673);
      --gray-a12: color(display-p3 0.9922 1 0.9961 / 0.925);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0154 156.8);
      --gray-track: oklch(54% 0.0154 156.8);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #1b1d1b;
}
